<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<link href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}"
	rel="stylesheet" media="screen" />
<link href="../static/css/formulariostyle.css"
	th:href="@{css/formulariostyle.css}" rel="stylesheet" media="screen" />
<script type="text/javascript" src="../static/js/logica.js"></script>
<title>Spring Framework Guru</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
	<div class="container">
		<div class="card card-container">
			<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
			<img id="profile-img" class="profile-img-card"
				src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
			<p id="profile-name" class="profile-name-card"></p>
			<form class="form-signin" method="POST" action="#"
				th:action="@{/login}">
				<span id="reauth-email" class="reauth-email"></span> <input
					type="email" id="inputEmail" class="form-control"
					placeholder="Email address" name="nomeUsuario" /> <input
					type="password" id="inputPassword" class="form-control"
					placeholder="Password" name="senhaUsuario" />
				<div id="remember" class="checkbox">
					<label> <input type="checkbox" value="remember-me" />
						Remember me
					</label>
				</div>
				<input type="submit" />
			</form>
			<!-- /form -->
			<a href="/formulario" class="forgot-password"> Não tem uma conta
				? </a>
		</div>
		<!-- /card-container -->
	</div>
	<!-- /container -->
</body>
</html>


